.navbar{
    background-color: #F8F9F9;
}

.quem-somos{
    background-color: #EBF5FB ;
}

.margin{
    padding-top: 50px;
    padding-bottom: 50px;
}

.parceiro{
    background-color: #F8F9F9;
}

.bg-footer{
    background-color: #1C2833;
    color: white;
}